---
import BlogHeader from "@/components/blog-header.astro";
import BlogCard from "@/components/cards/blog-card.astro";
import MainLayout from "@/layouts/main-layout.astro";
import { getPosts } from "@/lib/fetchers";
import UnivationLayout from "@/layouts/univation-layout.astro";
import UnivationFooter from "@/components/layout/univation-footer.astro";
import UnivationHeader from "@/components/layout/univation-header.astro";

const posts = await getPosts();
---

<UnivationLayout  title="Static Blog">
  <section class="container py-10 univation-blue-background ">
    <UnivationHeader />
    <BlogHeader title="Blog" />

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-9 md:gap-y-11 lg:gap-y-16 lg:gap-x-8"
    >
      {posts.map((post) => <BlogCard {...post} />)}
    </div>
  </section>
</UnivationLayout>
