---
import BlogHeader from "@/components/blog-header.astro";
import BlogCard from "@/components/cards/blog-card.astro";
import MainLayout from "@/layouts/main-layout.astro";
import { getPosts } from "@/lib/fetchers";

const posts = await getPosts();
---

<MainLayout title="Univation Blog">
  <section class="container py-10">
    <BlogHeader title="Latest Articles" />

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {posts.map((post) => <BlogCard {...post} />)}
    </div>
  </section>
</MainLayout>
