<div class="section-hub-header _80up univation-blue-background">
  <div class="div-block-89">
    <h1 class="h1_univation">University Startup Programs</h1>
    <a href="#areas" class="tag-trans-white"><span class="">100</span> Universities</a>
    <h1 class="h1_univation_subheader">Apply to create your idea and start with or without a team.</h1>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const hubcounter = document.querySelectorAll('.cms-hubsall').length;
    document.querySelector('.hubs-amount').textContent = hubcounter;
  });
</script>