---
import UnivationFooter from "@/components/layout/univation-footer.astro";
import UnivationHeader from "@/components/layout/univation-header.astro";
import UnivationHero from "@/components/layout/univation-hero.astro";
import UnivationUniversityCards from "@/components/sections/univation-university-cards.astro";
import UnivationCTA from "@/components/ui/univation-cta.astro";
import UnivationLayout from "@/layouts/univation-layout.astro";
import { createClient } from '@supabase/supabase-js';

// Initialize Supabase client
const supabase = createClient(
  'https://uhubnmzrbjeuzofuncng.supabase.co',
  'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVodWJubXpyYmpldXpvZnVuY25nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjU1NzY4NTMsImV4cCI6MjA0MTE1Mjg1M30.xLs7N6ipSWijA7_ThRV7bEBsZKdT_43lsHKAHNSSfgs'
);

let universities = [];
let fetchError = null;

try {
  // Fetch universities from Supabase
  const { data, error } = await supabase
    .from('Universities')
    .select('*')
    .limit(10);

  if (error) {
    throw error;
  }

  universities = data;
  console.log('Fetched universities:', universities);
} catch (error) {
  console.error('Error fetching universities:', error);
  fetchError = error.message;
}


---

<UnivationLayout title="Landing">
  <div class="univation-blue-background">
    <UnivationHeader />
    <UnivationHero />
    

    {fetchError ? (
      <p>Error loading universities: {fetchError}</p>
    ) : (
      <UnivationUniversityCards universities={universities} />
    )}

    <div class="overlay center">
      <h1 class="h1_univation">Featured Posts</h1>
      <div class="cta-container">
        <UnivationCTA
          title="Run your Incubator or Accelerator program Online on our Platform"
          buttonText="Check the Platform"
          buttonLink="/platform/home"
        />
        <UnivationCTA
          title="For Universities Incubators and Startup Programs"
          buttonText="Ask a Partnership"
          buttonLink="/university-partnerships"
        />
        <UnivationCTA
          title="General Partnerships & Questions"
          buttonText="Contact Us"
          buttonLink="/contact"
        />
      </div>
      <UnivationFooter />
    </div>
  </div>
</UnivationLayout>

<style>
  .center {
    text-align: center;
  }
  .cta-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 680px;
    gap: 20px;
  }
  .youtube-player-wrapper {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
    height: 450px; /* Add a fixed height */
  }
</style>