---
import { buttonVariants } from "@/components/ui/button";
import { getCategories } from "@/lib/fetchers";
import { cn } from "@/lib/utils";

const categories = await getCategories();

type Props = {
  title: string;
  showCategories?: boolean;
};

const { title, showCategories = true } = Astro.props;
const { category } = Astro.params;
---

<h1 class="inline-block font-heading text-4xl text-center w-full">{title}</h1>

{showCategories && categories?.length && (
  <div class="flex justify-center my-6">
    <ul class="flex flex-wrap justify-center items-center gap-4 pb-2">
      <li class="flex-shrink-0 mt-2">
        <a
          href={`/blog`}
          class={cn(
            "inline-block w-[100px] h-[100px] leading-[100px] text-center rounded-full",
            !category 
              ? "bg-primary text-white" 
              : "bg-white text-primary hover:bg-gray-100",
            buttonVariants({ variant: "outline" })
          )}
        >
          All posts
        </a>
      </li>
      {categories.map((item) => (
        <li class="flex-shrink-0 mt-2">
          <a
            href={`/blog/category/${item}`}
            class={cn(
              "inline-block w-[100px] h-[100px] leading-[100px] text-center rounded-full capitalize",
              item === category 
                ? "bg-primary text-white" 
                : "bg-white text-primary hover:bg-gray-100",
              buttonVariants({ variant: "outline" })
            )}
          >
            {item}
          </a>
        </li>
      ))}
    </ul>
  </div>
)}

<hr class="mb-7" />

<style>
  .rounded-full {
    border-radius: 50%;
  }
</style>
