---
interface Props {
  blackContent?: boolean;
}

const { blackContent = false } = Astro.props;
---

<link href="/univation.webflow/css/normalize.css" rel="stylesheet" type="text/css">
<link href="/univation.webflow/css/webflow.css" rel="stylesheet" type="text/css">
<link href="/univation.webflow/css/univation.webflow.css" rel="stylesheet" type="text/css">

<div class="univation-footer-wrapper">
  <div class:list={["section-27 _40up homepage _40", { "black-content": blackContent }]}>
    <div class="univation-new-footer">
      <div class="w-layout-grid brix---grid-footer-3-cols">
        <a href="/" class="w-inline-block">
          <img src="/images/Picture1.png" loading="lazy" alt="Univation logo" class="image-70 logo">
        </a>
        <ul role="list" class="brix---footer-list-wrapper-horizontal">
          <li class="brix---footer-list-item-horizontal">
            <a href="/universities" class="brix---footer-link">Universities</a>
          </li>
          <li class="brix---footer-list-item-horizontal">
            <a href="/companies" class="brix---footer-link">Companies</a>
          </li>
          <li class="brix---footer-list-item-horizontal">
            <a href="/governments" class="brix---footer-link">Governments</a>
          </li>
          <li class="brix---footer-list-item-horizontal">
            <a href="/jobs" class="brix---footer-link">Jobs</a>
          </li>
          <li class="brix---footer-list-item-horizontal">
            <a href="/blog" class="brix---footer-link">Blog</a>
          </li>
          <li class="brix---footer-list-item-horizontal">
            <a href="/contact" class="brix---footer-link">Contact</a>
          </li>
        </ul>
        <div class="w-layout-grid brix---social-media-grid-right---t-center">
          <a href="https://facebook.com/" target="_blank" class="brix---social-icon-square-30px w-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="brex-footer-icons"><path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"/></svg>
          </a>
          <a href="https://www.linkedin.com/company/theunivation/" target="_blank" class="brix---social-icon-square-30px w-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="brex-footer-icons"><path d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"/><circle cx="4" cy="4" r="2"/></svg>
          </a>
          <a href="https://www.youtube.com/@univation5990" target="_blank" class="brix---social-icon-square-30px w-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="brex-footer-icons"><path d="M23 7c-.3-1.2-1.2-2.1-2.3-2.4C19.1 4 12 4 12 4s-7.1 0-8.7.6C2.2 4.9 1.3 5.8 1 7 .6 8.9.6 12 .6 12s0 3.1.4 5c.3 1.2 1.2 2.1 2.3 2.4 1.6.6 8.7.6 8.7.6s7.1 0 8.7-.6c1.1-.3 2-1.2 2.3-2.4.4-1.9.4-5 .4-5s0-3.1-.4-5zM9.6 15.4V8.6l5.8 3.4-5.8 3.4z"/></svg>
          </a>
          <a href="https://www.instagram.com/theunivation/" target="_blank" class="brix---social-icon-square-30px w-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="brex-footer-icons"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
          </a>
        </div>
      </div>
      <div class="text-footer frosted">© 2024 Univation</div>
    </div>
  </div>
</div>

<style>
  .univation-footer-wrapper {
    background: linear-gradient(to bottom, 
      rgba(255,255,255,0) 0%,
      rgba(0,123,255,0.1) 25%,
      rgba(0,123,255,0.2) 50%,
      rgba(0,123,255,0.1) 75%,
      rgba(255,255,255,0) 100%
    );
    padding: 40px 0;
  }

  .brex-footer-icons {
    width: 24px;
    height: 24px;
  }

  .text-footer.frosted {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 5px;
  }

  .black-content {
    color: black;
  }

  .black-content .brix---footer-link,
  .black-content .text-footer.frosted {
    color: black;
  }

  .black-content .brex-footer-icons {
    fill: black;
  }

  .black-content .brex-footer-icons[stroke] {
    stroke: black;
    fill: none;
  }
</style>